<template>
	<div class="container is-fluid">
		<h2 class="subtitle is-5">
			Chat status options:
		</h2>
		<div class="columns">
			<div class="column">
				<div class="field">
					<label
						class="checkbox"
						v-for="choice in choices"
					>
						<input
							type="checkbox"
							@change="toggle(choice)"
							:checked="choice.done"
						>
						<span>{{ choice.text }}</span>
					</label>
				</div>
				<h3 class="subtitle is-6">
					Choose primary department:
				</h3>
				<section>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="deptSet(primaryDepartment)"
								v-model="primaryDepartment"
								value="support"
							>
							Linux support (default)
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="deptSet(primaryDepartment)"
								v-model="primaryDepartment"
								value="ent"
							>
							Linux enterprise
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="deptSet(primaryDepartment)"
								v-model="primaryDepartment"
								value="windows"
							>
							Windows
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="deptSet(primaryDepartment)"
								v-model="primaryDepartment"
								value="maps"
							>
							Managed application
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="deptSet(primaryDepartment)"
								v-model="primaryDepartment"
								value="miwx"
							>
							Migration IWX
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="deptSet(primaryDepartment)"
								v-model="primaryDepartment"
								value="sales"
							>
							Sales
						</label>
					</div>
				</section>
				<section v-if="isSecondaryDepartmentOn">
					<h3 class="subtitle is-6">
						Choose secondary department:
					</h3>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="secdeptSet(secondaryDepartment)"
								v-model="secondaryDepartment"
								value="support"
							>
							Linux support
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="secdeptSet(secondaryDepartment)"
								v-model="secondaryDepartment"
								value="ent"
							>
							Linux enterprise
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="secdeptSet(secondaryDepartment)"
								v-model="secondaryDepartment"
								value="windows"
							>
							Windows
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="secdeptSet(secondaryDepartment)"
								v-model="secondaryDepartment"
								value="maps"
							>
							Managed application (default)
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="secdeptSet(secondaryDepartment)"
								v-model="secondaryDepartment"
								value="miwx"
							>
							Migration IWX
						</label>
					</div>
					<div class="field">
						<label class="radio">
							<input
								type="radio"
								@change="secdeptSet(secondaryDepartment)"
								v-model="secondaryDepartment"
								value="sales"
							>
							Sales
						</label>
					</div>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data () {
		return {
			choices: [ { text: "Enable secondary department", done: true } ],
			primaryDepartment: null,
			secondaryDepartment: null,
			isSecondaryDepartmentOn: null,
		};
	},
	created: function () {
		this.fetchData();
	},
	methods: {
		sendMessage (type, payload, opts) {
			browser.runtime.sendMessage(
				undefined,
				{ type, payload },
				opts,
			);
		},
		getKeys () {
			return browser.storage.local.get(["keyPrimaryDepartment", "keySecondaryDepartment", "keyIsSecondaryDepartmentOn"]);
		},
		loadData (keyPrimaryDepartment, keySecondaryDepartment, keyIsSecondaryDepartmentOn) {
			this.isSecondaryDepartmentOn = keyIsSecondaryDepartmentOn;
			this.primaryDepartment = keyPrimaryDepartment;
			this.secondaryDepartment = keySecondaryDepartment;
			this.choices = [
				{ text: "Enable secondary department", done: this.isSecondaryDepartmentOn },
			];
		},
		async fetchData () {
			var result = await this.getKeys();
			this.loadData(result.keyPrimaryDepartment, result.keySecondaryDepartment, result.keyIsSecondaryDepartmentOn);
		},
		toggle (choice) {
			choice.done = !choice.done;
			this.isSecondaryDepartmentOn = choice.done;
			this.sendMessage("keyIsSecondaryDepartmentOn", choice.done);
			this.sendMessage("refreshSocketData");
			this.$forceUpdate();
		},
		deptSet (primaryDepartment) {
			this.primaryDepartment = primaryDepartment;
			this.sendMessage("setPrimaryDepartmentKey", primaryDepartment);
			this.sendMessage("refreshSocketData");
		},
		secdeptSet (secondaryDepartment) {
			this.secondaryDepartment = secondaryDepartment;
			this.sendMessage("setSecondaryDepartmentKey", secondaryDepartment);
			this.sendMessage("refreshSocketData");
		},
	},
};

</script>
<style>
p {
  font-size: 20px;
}
.container.is-fluid {
  margin-left: 10px;
  margin-right: 32px;
  margin-top: 5px;
}
body {
  line-height: 1;
}
.field:not(:last-child) {
    margin-bottom: 0.25rem;
}
.subtitle.is-6 {
    margin-top: 1rem;
}
.subtitle:not(:last-child) {
    margin-bottom: 1rem;
}
</style>
